.products-layout {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 250px;
  padding: 15px;
  border-right: 1px solid #dfd6d6;
}

.products-grid {
  margin-top: 20px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #7f837f;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #111;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-top-btn:hover {
  background-color: #444;
  transform: scale(1.1);
}
